// @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// body{
//     font-family: 'Outfit', sans-serif;
//     background-color: #292F36;
//     color: #E3E6DA;
//     min-height: 100vh;
//     width: 100vw;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .container{
//         width: max(30vw, 400px);

//     }
// }

// input{
//     width: 100%;
//     height: 35px;
// }
